astroid==2.3.3
beautifulsoup4==4.9.3
bleach==3.2.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
cryptography==3.2.1
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
docutils==0.16
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==3.1.0
isort==4.3.21
jeepney==0.6.0
keyring==21.5.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.2
matplotlib==3.3.3
mccabe==0.6.1
networkx==2.5
numpy==1.19.4
opencv-python==4.4.0.46
packaging==20.7
pandas==1.1.4
Pillow==8.0.1
pkginfo==1.6.1
-e git+git@github.com:cm107/common_utils.git@4b911efe9f8cdec16ecb2a983e16f772be05076c#egg=pyclay_common_utils
-e git+git@github.com:cm107/jp_dict.git@77081bc33fa4df818ac852f06ae8a2120a7e3196#egg=pyclay_jp_dict
pyclay-logger @ https://github.com/cm107/logger/archive/master.zip
pycparser==2.20
Pygments==2.7.2
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.3.1
readme-renderer==28.0
requests==2.25.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
scikit-image==0.17.2
scipy==1.5.4
seaborn==0.11.1
SecretStorage==3.3.0
selenium==3.141.0
Shapely==1.7.1
six==1.15.0
soupsieve==2.0.1
tifffile==2020.11.26
tqdm==4.54.0
twine==3.2.0
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.26.2
webbot==0.34
webencodings==0.5.1
wrapt==1.11.2
zipp==3.4.0
