{{writing}}
<hr id=answer>
Reading: {{reading}}
{{#common}}<br>Common{{/common}}
{{#jlpt_level}}<br>JLPT {{jlpt_level}}{{/jlpt_level}}
{{#wanikani_level}}<br>Wanikani Level {{wanikani_level}}{{/wanikani_level}}
<div style='font-size: 20px; color:navy; text-align:left;'>
    {{#custom_definition}}
        <details id="custom_definition_details">
            <summary>Custom Definition:</summary>
            <p style="margin-left:5%">
                <span id="custom_definition">{{custom_definition}}</span>
            </p>
        </details>
    {{/custom_definition}}
    {{#daijisen}}
        <details id="daijisen_details">
            <summary>デジタル大辞泉の解説:</summary>
            <p style="margin-left:5%">
                <span id="daijisen">{{daijisen}}</span>
            </p>
        </details>
    {{/daijisen}}
    {{#seisenpan}}
        <details id="seisenpan_details">
            <summary>精選版 日本国語大辞典の解説:</summary>
            <p style="margin-left:5%">
                <span id="seisenpan">{{seisenpan}}</span>
            </p>
        </details>
    {{/seisenpan}}
    {{#ndz}}
        <details id="ndz_details">
            <summary>日本大百科全書(ニッポニカ)の解説:</summary>
            <p style="margin-left:5%">
                <span id="ndz">{{ndz}}</span>
            </p>
        </details>
    {{/ndz}}
</div>
<div style="text-align:left">
        <div style="font-size: 20px; color:green;">
            <details id="eng_definition_details">
                <summary>English Definition</summary>
                <span id="eng_definition">
                    <p style="margin-left:5%">
                        {{eng_definition}}
                    </p>
                </span>
            </details>
        </div>
    <details>
        <summary>Links</summary>
        <div style='font-size: 20px; margin-left:5%'>
            {{links}}
        </div>
    </details>
    <details>
        <summary>Other Info</summary>
        <div style='font-size: 20px; margin-left:5%'>
            <b>Searched Words:</b> {{searched_words}}
            <br>
            <b>Search Word Hit Count:</b> {{search_word_hit_count}}
            <br>
            <b>Local Times:</b> {{cumulative_search_localtimes}}
            {{#auto_open_fields}}
                <br>
                <b>Automatically Open Fields:</b> <span id="auto_open_fields">{{auto_open_fields}}</span>
            {{/auto_open_fields}}
        </div>
    </details>
</div>

{{#memo}}
    <hr id=memo>
    <div style="text-align:left; font-size:20px;">
        <b>Memo:</b>
        <div style="margin-left:5%; color:blueviolet">
            {{memo}}
        </div>
    </div>
{{/memo}}

<div id="debug_element"></div>

<script>
    function updateDebugElement(str)
    {
        document.getElementById("debug_element").innerHTML = str;
    }

    function openIfNotEmpty(str_element, details_element) {
        if (!!str_element.innerHTML)
        {
            details_element.open = true;
            return true;
        }
        return false;
    }

    function openFirstNonEmpty(str_ids, details_ids)
    {
        for (i = 0; i < str_ids.length; i++)
        {
            var item_element = document.getElementById(str_ids[i]);
            var item_details_element = document.getElementById(details_ids[i]);
            if (!!item_element && !!item_details_element)
                if (openIfNotEmpty(item_element, item_details_element))
                    break;
        }
    }

    function openFieldsInArray(arr, str_ids, details_ids)
    {
        for(i = 0; i < arr.length; i++)
        {
            var idx = str_ids.indexOf(arr[i]);
            var item_element = document.getElementById(str_ids[idx]);
            var item_details_element = document.getElementById(details_ids[idx]);
            if (!!item_element && !!item_details_element)
            {
                openIfNotEmpty(item_element, item_details_element);
            }
        }
    }

    var jp_str_ids = [
        "custom_definition",
        "daijisen",
        "seisenpan",
        "ndz",
        "eng_definition"
    ];
    var jp_details_ids = [
        "custom_definition_details",
        "daijisen_details",
        "seisenpan_details",
        "ndz_details",
        "eng_definition_details"
    ];

    var auto_open_fields_element = document.getElementById("auto_open_fields");
    if (!!auto_open_fields_element)
    {
        var auto_open_fields_arr = auto_open_fields_element.innerHTML.replace(" ", "").split(",");
        openFieldsInArray(arr=auto_open_fields_arr, str_ids=jp_str_ids, details_ids=jp_details_ids);
    }
    else
    {
        openFirstNonEmpty(jp_str_ids, jp_details_ids);
    }
</script>