{{writing}}
<hr id=answer>
Reading: {{reading}}
{{#common}}<br>Common{{/common}}
{{#jlpt_level}}<br>JLPT {{jlpt_level}}{{/jlpt_level}}
{{#wanikani_level}}<br>Wanikani Level {{wanikani_level}}{{/wanikani_level}}
<br>
<div style='font-size: 20px; color:navy; text-align:left;'>{{jp_definition}}</div>
<br><br>
<details>
<summary>English Definition</summary>
<div style='font-size: 20px; color:green; text-align:left;'>{{eng_definition}}</div>
</details>
<br><br>
<details>
<summary>Links</summary>
{{links}}
</details>
<br>
<details>
<summary>Other Info</summary>
Searched Words: {{searched_words}}
<br>
Search Word Hit Count: {{search_word_hit_count}}
<br>
Local Times: {{cumulative_search_localtimes}}
</details>